<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddarthshikhar.yogaapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="THE POWER YOGA"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKJQnt9Sge6qHYItQEmA6M6yaTwMaMjf0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- Splash screen -->
        <activity
            android:name=".Splash"
            android:label="THE POWER YOGA"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2"
            android:label="THE POWER YOGA" >
        </activity>
        <activity
            android:name=".Loginactivity"
            android:label="THE POWER YOGA"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Registeract"
            android:label="THE POWER YOGA"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Intro"
            android:label="THE POWER YOGA" >
        </activity>
        <activity android:name=".DispatchActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".BookClass"
            android:label="@string/title_activity_book_class"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpOrLoginActivity"
            android:label="SignUpOrLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="MapsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".ConfirmAddress"
            android:label="@string/title_activity_confirm_address"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BookingConfirmation"
            android:label="@string/title_activity_booking_confirmation"
            android:screenOrientation="portrait"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".MyScheduleActivity"
            android:label="@string/title_activity_my_schedule"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
